<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <div class="btn-group me-2">
        <a  *ngIf="show?.reservationLink" target="_blank" [href]="show?.reservationLink"
            class="btn btn-lg btn-danger rounded-0">Réserver</a>
        <a *ngIf="!show?.reservationLink" class="btn btn-lg rounded-0 pe-none">Sans Réservation</a>
        <a *ngIf="show?.facebookLink" target="_blank" [href]="show?.facebookLink"
            class="btn btn-lg btn-secondary rounded-0"><i class="bi bi-facebook"></i>
        </a>
        <a *ngIf="show?.instagramLink" target="_blank" [href]="show?.instagramLink"
            class="btn btn-lg btn-secondary rounded-0"><i class="bi bi-instagram"></i>
        </a>
    </div>
    <!--
    <a *ngIf="isLogged && false"
        class="btn btn-lg btn-outline-secondary rounded-0">Candidater</a>
    <a *ngIf="isLogged && false" class="btn btn-lg rounded-0">Aucune candidature
        disponible</a>
    -->
</div>