<div
  id="flyers-recto"
  class="flyers container position-absolute"
>
  <img
    [src]="show?.imgLink"
    class="img-fluid"
    height="1024"
    width="1024"
  />
</div>

<div id="flyers-verso" class="flyers container position-absolute">
  <div class="row">
    <div class="col-12 m-auto">
      <h3 class="text-uppercase">{{ show?.name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 m-auto">
      <p>{{ show?.description }}</p>
    </div>
  </div>
  <div class="row">
    <h5 class="text-uppercase">{{ formattedDate }}</h5>
  </div>
  <div class="row">
    <h5>{{ show?.location }}</h5>
  </div>
  <div class="row">
    <div class="row">
      <div *ngIf="isFree">
        <h5>Gratuit</h5>
      </div>
      <div *ngIf="!isFree">
        <p class="mb-0">
          {{
            show?.price +
              " €" +
              (show?.reducedPrice
                ? " / " + show?.reducedPrice + "
                €*"
                : "")
          }}
        </p>
        <p *ngIf="show?.reducedPrice" class="mt-0 fw-lighter">
          *étudiant, chômeur, moins de 16 ans
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="fw-bold">Retrouvez la LUDI sur les réseaux :)</h4>
      <h4 class="text-uppercase mx-2">
        <i class="bi bi-globe2" style="font-size: 1.5rem"></i>luditoulouse.org
        <i class="bi bi-instagram" style="font-size: 1.5rem"></i>/luditoulouse
        <i class="bi bi-facebook" style="font-size: 1.5rem"></i>/luditoulouse
      </h4>
    </div>
  </div>
</div>
<div class="text-center">
  <small
    ><a class="link-secondary pe-auto text-muted" href="#" (click)="generate()"
      >Obtenir le flyer</a
    ></small
  >
</div>
