<div class="container-fluid mt-3 mb-0 py-3 bg-danger text-white">
    <div class="container">
        <h1 class="mx-5 text-uppercase">C'est quoi la LUDI ?</h1>
        <div class="mx-5">
            <div class="row my-3 ">
                <div class="col-md-8 mx-auto text-center order-md-first">
                    <img id="picture-noel"  src="/assets/photo/noel.jpeg"
                        alt="C'est ça l'impro" class="img-fluid img-polaroid">
                </div>
                <div class="col-md-6 mx-auto my-3">
                    <p>
                        Notre association est née en 1997. Des joyeux lurons ont voulu se regrouper dans l’idée
                        d’avancer
                        ensemble dans la vie, autour d’un art. Un art autour de l’imagination, du grand n’importe quoi,
                        de
                        l’humour mais aussi et surtout autour du théâtre.
                    </p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 my-auto">
                    <p>
                        Bien que plus connu pour ses spectacles à texte, classique ou contemporain, le théâtre possède
                        aussi
                        un
                        versant improvisation. L'objectif de la LUDI est de promouvoir le théâtre d’improvisation et de
                        le
                        faire
                        découvrir au public toulousain. En particulier, sa mission est de présenter le concept de match
                        d’improvisation.
                    </p>
                    <p>
                        Le match d’improvisation a été créé à Québec en 1977 par Gravel &amp; Leduc. Il est basé sur le
                        fait
                        de
                        transformé le «&nbsp;théâtre&nbsp;» en match de hockey sur glace. Répartis en deux équipes et
                        vêtus
                        de
                        chandails de hockey, les comédiens s’affrontent et s’entraident sur des thèmes et des catégories
                        soumis
                        par un arbitre intransigeant&nbsp;!
                    </p>
                </div>
                <div class="col-md-6 order-md-first">
                    <img id="picture-impro-1"  src="/assets/photo/impro1.jpg"
                        alt="C'est ça l'impro" class="img-fluid img-polaroid">
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 my-auto">
                    <p>
                        La LUDI reçoit des ligues (ou troupes), et d’autres comédiens, venant de France, de Suisse, de
                        Belgique,
                        du Maroc etc. Et même du Québec&nbsp;! Notamment grâce à son Festival, qui est l'occassion pour
                        nous
                        de
                        vous présenter d’autres spectacles et concepts uniques et originaux. Au quotidien, La LUDI
                        propose
                        aussi
                        d’autres spectacles&nbsp;: le cabaret, le championnat Improvisem, le catch… Tous ces spectacles
                        sont
                        effectués dans différents lieux de la ville rose.
                    </p>
                </div>
                <div class="col-md-6">
                    <img id="picture-impro-2" src="/assets/photo/impro2.jpg"
                        alt="Nos 25 ans :')" class="img-fluid img-polaroid">
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 my-auto">
                    <p>
                        La LUDI connaît donc d’autres troupes, d’autres comédiens, sur Toulouse, mais aussi partout en
                        France.
                        Il arrive que nous nous expatrions et que nous soyons invités pour jouer un spectacle dans une
                        autre
                        ville.
                    </p>
                    <p>
                        C'est pour cela que les comédiens suivent une formation tout au long de l’année, le mercredi
                        soir,
                        sur
                        le site universitaire de Paul Sabatier. Lors de chaque début de saison, nous proposons des cours
                        de
                        découverte durant le mois d’octobre. Puis lors de l’Assemblée Générale de début de saison, nous
                        accueillons nos nouveaux adhérents et ils rejoignent la famille de la LUDI.
                    </p>
                </div>
                <div class="col-md-6 order-md-first">
                    <img id="picture-ludi" src="/assets/photo/ludi.jpeg"
                        alt="Nos 25 ans :')" class="img-fluid img-polaroid">
                </div>
            </div>
        </div>
    </div>
</div>