<div class="bg-dark bg-black">
    <footer class="container m-auto p-3 text-white">
        <div class="row">
            <div class="col-12 col-md text-center">
                <img src="assets/logo/logo.png" width="50" height="50" />
                <h2 class="m-auto">MERCI PUBLIC</h2>
                <p class="small text-muted my-0" >Pour toute demande d'adhésion à l'association, de partenariat pour un spectacle ou tout simplement pour nous communiquer votre ♥</p> 
                <p class="small text-muted my-0">Vous pouvez nous contacter sur les réseaux :)</p>
                                    <a class="link-light mx-2" target="_blank" href="https://www.instagram.com/luditoulouse/"><i
                        class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
                <a class="link-light mx-2" target="_blank" href="https://www.facebook.com/LUDItoulouse"><i
                        class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
                <a class="link-light mx-2" target="_blank" href="mailto:luditoulouse@gmail.com"><i
                        class="bi bi-envelope" style="font-size: 1.5rem;"></i></a>
                <small class="d-block mb-1 text-muted">© 2022–2023 /
                    <a class="link-secondary text-muted" target="_blank" href="/old/mentions_legales">Mentions légales</a></small>
                <small class="d-block mb-3 text-muted">
                    <a class="link-secondary text-muted" target="_blank"
                        href="/old/connexion">Espace membre</a></small>
            </div>
        </div>
    </footer>
</div>