<footer class="fluid-container m-0 p-5 bg-dark text-white">
    <div class="row">
        <div class="col-12 col-md">
            <img src="assets/logo/logo.png" width="50" height="50" />
            <small class="d-block mb-3 text-muted">© 2021–2022</small>
        </div>
        <div class="col-6 col-md">
            <h5>Nos réseaux</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" target="_blank" href="https://luditoulouse.festik.net/">Festik</a></li>
                <li><a class="link-secondary" target="_blank" href="https://www.facebook.com/LUDItoulouse">Facebook</a>
                </li>
                <li><a class="link-secondary" target="_blank"
                        href="https://www.instagram.com/luditoulouse/">Instagram</a></li>
                <li><a class="link-secondary" target="_blank" href="mailto:luditoulouse@gmail.com">E-mail</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>A propos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Mentions légales</a></li>
            </ul>
        </div>
    </div>
</footer>