<div class="my-3 px-5">
    <div class="mb-3 ">
        <div class="row g-0">
            <div class="col-md-4 m-auto">
                <img [src]="show?.imgLink || 'assets/event/noimg.png'" loading="lazy" class="img-fluid"
                    [alt]="show?.name">
            </div>
            <div class="col-md-8 border-bottom border-secondary">
                <div class="card-body ">
                    <div class="grid">
                        <div class="row">
                            <h3 class="card-title text-uppercase">{{ show?.name }}</h3>
                        </div>
                        <div class="row mb-3">
                            <div class="card-text" style="white-space: pre-wrap">{{ show?.description }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="text-muted m-0">Date</p>
                                <h5>{{  formattedDate || 'Date à venir' }}</h5>
                            </div>
                            <div class="col-6">
                                <p class="text-muted m-0">Lieu</p>
                                <h5>{{ show?.location }}</h5>
                            </div>
                        </div>
                        <div class="row" *ngIf="isFree">
                            <div class="col-6">
                                <p class="text-muted m-0">Tarif</p>
                                <h5>Gratuit</h5>
                            </div>
                        </div>
                        <div class="row" *ngIf="!isFree">
                            <div class="col-6">
                                <p class="text-muted m-0">{{show?.reducedPrice ? 'Tarif plein' : 'Tarif'}}</p>
                                <h5>{{ show?.price }} €</h5>
                            </div>
                            <div class="col-6" *ngIf="show?.reducedPrice">
                                <p class="text-muted m-0">Tarif réduit*</p>
                                <h5>{{ show?.reducedPrice }} €</h5>
                                <p class="text-muted">
                                    *étudiant, chômeur, moins de 16 ans
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 my-2">
                    <div class="card-footer bg-transparent border-0">
                        <app-show-reservation-buttons [show]="show">
                        </app-show-reservation-buttons>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>