<div class="site-hero">
  <div class="text-white text-center header">
    <video loop autoplay muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" class="video-header">
      <source src="assets/background/header.mp4" type="video/mp4">
    </video>
    <div class="hero-inner">
      <div class="logo">
        <img class="mb-2 logo" src="assets/logo/logo.png" width="200" height="200" />
      </div>
      <h1 class="text-uppercase my-0 p-0 title">
        {{ title }}
      </h1>
      <div class="sub-title">
        Depuis Paul Sabatier, la LUDI fait vivre l'impro à Toulouse avec des
        spectacles, des rencontres et des scènes ouvertes à toutes les envies
      </div>
      <div class="social-links">
        <a
          class="link-light social-link mx-2"
          target="_blank"
          href="https://www.instagram.com/luditoulouse/"
          ><i class="bi bi-instagram" style="font-size: 1.7rem"></i
        ></a>
        <a
          class="link-light social-link mx-2"
          target="_blank"
          href="mailto:luditoulouse@gmail.com"
          ><i class="bi bi-envelope" style="font-size: 1.7rem"></i
        ></a>
      </div>
      <nav class="hero-nav navbar">
        <ul class="navbar-nav hero-nav-list">
          <li class="nav-item">
            <a
              class="h4 bg-white text-black nav-link rotate text-uppercase"
              href="#next-show"
              >Prochaines dates</a
            >
          </li>
          <li class="nav-item">
            <a
              class="h4 bg-white text-black rotate nav-link text-uppercase"
              href="#who"
              >C'est quoi la LUDI ?</a
            >
          </li>
          <li class="nav-item">
            <a
              class="h4 bg-white text-black rotate nav-link text-uppercase"
              target="_blank"
              href="https://www.helloasso.com/associations/ludi-toulouse/"
              >Billetterie</a
            >
          </li>
          <li class="nav-item">
            <a
              class="h4 bg-white text-black rotate nav-link text-uppercase"
              target="_blank"
              href="https://www.helloasso.com/associations/ludi-toulouse/formulaires/1"
              >Chapeau numérique</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
