<div
  id="monthly"
  [ngStyle]="{'background-color' : color}"
  style="display: none;"
  class="container position-absolute"
>
  <div class="row align-items-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-uppercase">
            LES DATES DE
            <img src="assets/logo/logo.png" class="img-fluid" />
          </h1>
        </div>
        <div class="col-12 m-auto text-right"></div>
      </div>
    </div>
    <div class="col-5 align-self-start">
      <img src="assets/photo/damien.png" id="damien" class="img-fluid" />
    </div>
    <div class="col-7 m-auto align-self-end p-auto">
      <div class="row my-3">
        <h1 class="text-uppercase">{{ title }}</h1>
      </div>
      <div class="row mb-3" *ngFor="let show of shows">
        <div class="col-md-4">
          <h4 class="text-uppercase text-danger">
            {{ formattedDate(show) }}
          </h4>
        </div>
        <div class="col-md-8 text-left">
          <h4 class="fw-bold text-uppercase">{{ show?.name }}</h4>
          <h5>{{ show?.location }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <img src="assets/logo/contact.png" style="height: 110px;" class="img-fluid" />
    </div>
  </div>
</div>
<div class="text-center">
  <small
    ><a class="link-secondary pe-auto text-muted" href="#" (click)="generate()"
      >Obtenir le programme du mois</a
    ></small
  >
</div>
