<div class="bg-secondary text-white m-0 p-0">
    <div class="container p-3 p-md-5 m-0 ">
        <h1 class="mx-5 text-uppercase">Nos Partenaires</h1>
        <div class="mx-5">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/crous.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/cap.jpg" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/evasion.jpg" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/obohem.jpg" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/trefles.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/paulsab.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/clutch.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/festik.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/mairie.jpg" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/produitcom.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/boudu.png" alt="logo" width="100">
            <img loading="lazy" class="float-start mb-4" src="https://luditoulouse.org/img/culture.jpg" alt="logo" width="100">
        </div>
    </div>
</div>