#content {
  background-color: #f7f3e9;
  background: url(/assets/background/bg02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
.highlighted h5 {
  font-family: "The Bold Font", sans-serif;
}

.img-polaroid {
  padding: 0.25rem;
  background-color: white;
  border: 10px solid white;
  max-width: 100%;
  height: auto;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 30%);
}

.rotate {
  transform: rotate(0.5deg);
}

.negative-rotate {
  transform: rotate(-0.5deg);
}


#picture-noel {
  transform: rotate(-0.2deg);
}

#picture-impro-2 {
  transform: rotate(1.5deg);
}

#picture-impro-1 {
  transform: rotate(-1deg);
}

#picture-ludi {
  transform: rotate(-1.5deg);
}

.text-logo {
  color: #dc3545;
  font-family: "Butter Luchy Free", sans-serif;
}

div.bg-dark.bg-black {
  background-color: black !important;
}

.line-break {
  white-space: pre-line;
}

.next-date {
  background-color: #f7f3e9;
  background: url(/assets/background/bg02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 1080px;
}
