<div class="container-fluid text-center position-absolute top-50" *ngIf="!isLoaded">
  <img
    class="spinner-grow text-light"
    src="assets/logo/logo.png"
    width="50"
    height="50"
  />
  <p class="text-muted">{{ loadingText }}</p>
</div>

<div *ngIf="shows$ | async as shows">
  <div *ngIf="isLoaded">
    <app-header></app-header>
    <div *ngIf="shows.length">
      <app-shows
        [shows]="shows"
        [highlightedShow]="highlightedShow"
      ></app-shows>
      <app-monthly [shows]="shows"></app-monthly>
    </div>
    <div *ngIf="!shows.length">
        <app-no-shows></app-no-shows>
      </div>
    <app-who></app-who>
    <app-footer></app-footer>
  </div>
</div>
