<div class="container-fluid text-center bg-white position-absolute top-50" *ngIf="!isLoaded">
  <img
    class="spinner-grow text-light"
    src="assets/logo/logo.png"
    width="50"
    height="50"
  />
  <p class="text-muted">{{ loadingText }}</p>
</div>

<div id="content" *ngIf="shows$ | async as shows">
  <div *ngIf="isLoaded">
    <app-header></app-header>
    <div *ngIf="shows.length">
      <app-shows
        [shows]="shows"
        [highlightedShow]="highlightedShow"
      ></app-shows>
    </div>
    <div *ngIf="!shows.length">
        <app-no-shows></app-no-shows>
      </div>
    <app-who id="who"></app-who>
    <app-join-us id="join-us"></app-join-us>
    <app-format [shows]="shows" id="format"></app-format>
    <app-footer id="footer"></app-footer>
    <!--<app-tools [shows]="shows" [highlightedShow]="highlightedShow"></app-tools>-->
  </div>
</div>
