<div id="content" *ngIf="shows$ | async as shows">
  <app-header></app-header>
  <ng-container *ngIf="!isToolsPage && !isProgrammationAdminPage && !isPlanningPage && !isPrivateToolsHomePage && !isLegalNoticePage; else privatePage">
    <div *ngIf="shows.length">
      <app-shows
        [shows]="shows"
        [highlightedShow]="highlightedShow"
      ></app-shows>
    </div>
    <div *ngIf="!shows.length">
      <app-no-shows></app-no-shows>
    </div>
    <app-who id="who"></app-who>
    <app-galaxy id="galaxy"></app-galaxy>
    <app-join-us id="join-us"></app-join-us>
    <app-format [shows]="shows" id="format"></app-format>
  </ng-container>
  <ng-template #privatePage>
    <app-tools
      *ngIf="isToolsPage"
      [shows]="shows"
      [highlightedShow]="highlightedShow"
    ></app-tools>
    <app-programmation-admin *ngIf="isProgrammationAdminPage"></app-programmation-admin>
    <app-planning
      *ngIf="isPlanningPage"
      [shows]="shows"
    ></app-planning>
    <app-private-tools-home *ngIf="isPrivateToolsHomePage"></app-private-tools-home>
    <app-legal-notice *ngIf="isLegalNoticePage"></app-legal-notice>
  </ng-template>
  <app-footer id="footer"></app-footer>
</div>
