<div class="justify-content-md-start mt-2">
    <div class="btn-group">
        <a *ngIf="show?.reservationLink" target="_blank" [href]="show?.reservationLink"
            class="btn btn-lg btn-danger rounded-0">Réserver</a>
        <a *ngIf="!show?.reservationLink" style="white-space : pre" class="btn btn-lg btn-light rounded-0 pe-none">Sans
            Réservation</a>
        <a *ngIf="socialLink && show?.facebookLink" target="_blank" [href]="show?.facebookLink"
            class="btn btn-lg btn-secondary rounded-0"><i class="bi bi-facebook"></i>
        </a>
        <a *ngIf="socialLink &&  show?.instagramLink" target="_blank" [href]="show?.instagramLink"
            class="btn btn-lg btn-secondary rounded-0"><i class="bi bi-instagram"></i>
        </a>
    </div>
</div>