<div class="container-fluid my-0 py-3 bg-warning join-us">
  <div class="container">
    <h1 class="text-uppercase text-white">Comment nous rejoindre ?</h1>
    <div class="mx-1">
      <div class="row my-3">
        <div class="col-md-5 p-0 m-auto text-center desktop-only">
          <img
            src="/assets/logo/profC1.png"
            alt="Hey toi !"
            class="img-fluid"
          />
        </div>
        <div class="col-md-5 m-auto">
          <div class="my-3 px-3 show-card">
            <div class="mb-3">
              <div class="row text-center">
                <img src="assets/logo/essai.png" class="img-fluid m-auto" />
                <div class="my-2 rotate shadow text-uppercase bg-danger">
                  <h2 class="my-auto text-white">Tous les mercredis d'octobre à 20:00</h2>
                </div>
                <div class="rotate shadow text-uppercase text-danger bg-white">
                  <h2 class="my-auto">Bâtiment U2 de Paul Sabatier</h2>
                </div>
                <div class="mt-1">
                  <h5 class="d-inline mr-1">
                    <span class="badge bg-white text-black"
                      >Gratuit pour tous</span
                    >
                  </h5>
                  <h5 class="d-inline mx-1">
                    <span class="badge bg-white text-black"
                      >Sans réservation</span
                    >
                  </h5>
                  <h5 class="d-inline m-1">
                    <span class="badge bg-white text-black"
                      >Navettes aux métros Paul Sabatier <br/> et Faculté de
                      pharmacie</span
                    >
                  </h5>
                </div>
                <div class="row text-center m-auto">
                  <h5 class="m-auto"></h5>
                </div>
              </div>
            </div>
          </div>
          <p class="font-weight-light">
            PS : Si tu lis ce texte trop tard, bah désolé, mais rendez-vous
            l'année prochaine ! On sera toujours là ;)
          </p>
        </div>

      </div>
      <div class="row my-3">
        <div class="col-md-6">
          <p class="lead text-danger fw-bold">
            Est-ce que c’est ouvert à tous ?
          </p>
          <p class="lead">
            Mais oui ! Totalement ! Que tu sois étudiant.e ou bien salarié.e ou
            demandeur.se d’emploi
          </p>
          <p class="lead text-danger fw-bold">
            Quand est-ce que sont les cours ?
          </p>
          <p class="lead">
            Les cours d’essais sont les mercredis d’octobre à 20 h. Et ce sera
            pareil une fois inscrit à l’asso :). Et toujours dans le bâtiment U2
            de Paul Sabatier
          </p>
          <p class="lead text-danger fw-bold">
            Quand est-ce peut-on s’inscrire ?
          </p>
          <p class="lead">
            Tu pourras t’inscrire après les cours d’essais, une fois
            sélectionné.e lors de notre AG de rentrée le 8 novembre à 20 h
            (toujours un mercredi, toujours dans le bâtiment U2 de Paul
            Sabatier)
          </p>
          <p class="lead text-danger fw-bold">
            Combien prenez-vous de nouveaux élèves ?
          </p>
          <p class="lead">Environ une quarantaine chaque année</p>
          <p class="lead text-danger fw-bold">
            Comment se déroulent les sélections ?
          </p>
          <p class="lead">
            La règle est simple : plus tu participes aux cours d'essai, plus tu
            as de chance d'être prise. Cependant, les étudiants restent
            prioritaires. L'ordre de priorité étant "4 cours d'essai,
            étudiant(e) > 4 cours d'essai, non-étudiant(e) > 3 cours d'essai,
            étudiant(e) > 3 cours d'essai, non-étudiant(e) > 2 cours (...)".
          </p>
          <p class="lead text-danger fw-bold">
            Je connais pas Paul Sabatier, comment je peux faire ?
          </p>
          <p class="lead">
            Pas de soucis ! On aura des adhérents pour te guider depuis les
            métros Paul Sabatier et Faculté de Pharmacie :)
          </p>

        </div>
        <div class="col-md-6">
          <p class="lead text-danger fw-bold">
            Niveau tenue, ça se passe comment ?
          </p>
          <p class="lead">
            L’impro, c’est aussi très sportif ! On te préconise un jogging, un
            t-shirt ainsi que des baskets.
          </p>
          <p class="lead text-danger fw-bold">
            J’ai jamais fait d’impro, vous pensez que ca passe ?
          </p>
          <p class="lead">
            On accueille tous les niveaux, et si tu débutes, alors tu arriveras
            en première année, avec des gens qui découvrent aussi, tout comme
            toi !
          </p>
          <p class="lead text-danger fw-bold">Même si je suis trop timide ?</p>
          <p class="lead">
            Personne ne devient une bête de scène du jour au lendemain. C’est
            comme tout, ça s’apprend au fur et à mesure. C’est pourquoi tu
            arriveras en première année. Aussi, tu seras toujours accompagné par
            tes profs, mais aussi d’autres improvisateurs plus expérimentés de
            l’association, et ceci même sur scène !
          </p>
          <p class="lead text-danger fw-bold">
            Est-ce que je serai obligé de monter sur scène ?
          </p>
          <p class="lead">
            Ça, c’est comme tu le sens ! Personne ne va te forcer à monter sur
            scène. Mais sache que le jour où tu te sentiras prêt, alors tu auras
            une armada d’improvisateurs prêts à t’épauler et à te soutenir lors
            de tes premiers spectacles. Et ils feront ça avec le sourire aux
            lèvres et le cœur sur la main !
          </p>
          <p class="lead text-danger fw-bold">Bah merci</p>
          <p class="lead">
            Bah de rien ! Allez, je te dis à plus et rendez-vous en octobre !
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
