<div class="text-white h-100 w-100 position-relative">
  <div class="container my-auto">
    <div class="mb-3 p-3">
      <h1 *ngIf="displayHeader" class="text-uppercase">à l'affiche</h1>
      <div class="row">
        <div class="col-md-6 text-center m-auto">
          <img
            [src]="show?.imgLink || show?.logoLink || 'assets/event/noimg.png'"
            loading="lazy"
            class="img-fluid"
            [alt]="show?.name"
          />
        </div>
        <div class="col-md-5 m-auto">
          <h3 class="text-uppercase bg-white text-black nav-link rotate">{{show?.name}}</h3>
          <h4 class="text-uppercase">{{formattedDate}}</h4>
          <h4 class="text-uppercase">{{show?.location}}</h4>
          <div class="mb-1">
            <h5 class="d-inline mr-1" *ngIf="isFree"><span class="badge bg-light text-black">Participation libre</span></h5>
            <h5 class="d-inline mx-1" *ngIf="!show?.reservationLink"><span class="badge bg-light text-black">Sans réservation</span></h5>  
            <h5 class="d-inline mx-1" *ngIf="show?.reservationLink"><span class="badge bg-light text-black">Réservation conseillée</span></h5>  
            <h5 class="d-inline mx-1" *ngIf="show?.freeForStudents"><span class="badge bg-light text-black">Gratuit pour les étudiant.es</span></h5> 
          </div>
          <div class="line-break">{{ show?.description || show?.shortDescription }}</div>
          <div class="my-3 border-bottom"></div>
          <app-show-reservation-buttons *ngIf="displayButtons" [show]="show">
          </app-show-reservation-buttons>
        </div>
      </div>
    </div>
  </div>
</div>
